@media (max-width: 768px) {

    html,
    body {
        overflow-x: hidden;
    }

    .hamburger {
        display: block;
    }

    .delivery {
        display: none;
    }

    .search-box {
        display: none;
    }

    .right-section {
        display: none;
        flex-direction: column;
        text-align: center;
        position: absolute;
        top: 40px;
        left: 0px;
        width: 90%;
        height: 100%;
        background: #e1d7d7;
    }

    .right-section.active {
        display: block;
    }

    /* Bottom Navbar */

    .menu-right {
        display: none;
    }

    .menu-left {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: space-between;
        gap: 40px;
        font-size: 29px;
    }

    .hamburger2 {
        display: flex;
        justify-content: center;
    }


    .nav-links {
        display: none;
        flex-direction: column;
        text-align: center;
        position: absolute;
        top: 100px;
        left: 0px;
        width: 90%;

        background: #c68787;
        cursor: pointer;
    }

    .nav-links.active {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;

        position: absolute;
        top: 00px;
    }

    .main-content {
        display: block;
        justify-content: start;
        width: 100%;
        height: max-content;
        background-image: linear-gradient(rgba(255, 255, 255, 0.592), rgba(216, 211, 211, 0.956)), url('./assets/organic\ background.jpg');
    }

    .main-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-wrap: wrap;
        margin-left: 10px;
        padding: 20px;
        gap: 20px;
        width: 100%;
        margin: 0px;
    }

    .main-text h3 {
        font-size: 18px;
        font-family: sans-serif;
        color: #1be410;
        font-weight: 600;
        margin-top: 10px;

    }

    .main-text h1 {
        font-size: 42px;
        font-family: cinzel;
        color: #000;
        font-weight: 1900;
        word-spacing: 2px;
        padding-bottom: 50px;
    }

    .shop-now-btn {
        justify-content: center;
        align-items: center;
        padding: 12px 50px;
        background: linear-gradient(135deg, #006b12, #00c023);
        color: #fff;
        border: none;
        border-radius: 20px;
        font-size: 12px;
        font-weight: 600;
        cursor: pointer;
    }

    .main-image {
        padding: 20px;
        margin: auto;
        justify-content: center;
        align-items: center;
    }

    .main-image img {
        width: 50%;
        height: 50%;
        margin: auto;
        display: block;
    }


    .container {
        display: flex;
        padding: 20px;
        justify-content: center;
        background-color: #fff;
        height: max-content;
        gap: 50px;
    }

    .item-box {
        display: block;
        justify-content: center;
        align-items: center;
        gap: 15px;
        width: 100%;
        margin: 10px;
    }

    .item-box img {
        width: 45%;
        height: 40%;
        justify-content: center;
        align-items: center;
        margin-left: 10px;
        display: block;
        padding-bottom: 20px;
    }

    .item-box p {
        margin: 0;
        font-size: 14px;
        line-height: 1.3;
        color: #555;
        font-weight: 750;

    }

    .header-row {

        align-items: flex-start;
        padding: 10px;
        margin: 10px;
    }

    .sub-title {
        font-size: 42px;
        font-family: cinzel;
        color: #333;
        margin: 0;
        padding: 0;
        font-weight: 750;
    }

    .main-title {
        font-size: 42px;
        font-family: cinzel;
        font-weight: 800;
        color: #78B833;
        margin: 0;
        padding: 0;

    }

    .see-all-btn {
        margin: 0px;
    }

    /* Card Container */
    .card-container {
        display: block;
        height: 100%;
        align-items: center;
        padding: 0;

    }

    .category-card {
        display: block;
        margin: auto;
        padding: 20px;
        width: 60%;
        height: 100%
    }

    .category-card img {
        gap: 20px;
        height: 50%;
        width: 50%;
    }

    .category-card h3 {
        font-size: 18px;
    }

    /* Offer Container*/

    .offer-container {
        display: flex;
        margin: auto;
        padding: 0;
        width: 100%;
        height: fit-content;
    }

    .offers {
        display: flex;
        flex-direction: column;
        gap: 20px;

    }

    .lft {
        gap: 10px;
    }

    .heading {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #fff;
        padding: 40px 70px;
    }

    .card-section {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        height: max-content;

    }

    .card-block {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        gap: 50px;
    }

    .block1 {
        justify-content: space-between;
        padding: 10px
    }

    .block2 {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-evenly;

    }

    .block3 {

        justify-content: flex-end;
        gap: 30px;
        padding-right: 40px;
    }

    .about-us-section {
        display: flex;
        flex-direction: column-reverse;
        justify-content: flex-start;
        margin: auto;
        padding: 20px;
    }

    .rightside-about-us {
        width: 100%;
    }

    .rightside-about-us h1 {
        font-size: 30px;
    }

    .rightside-about-us p {
        font-size: medium;
    }

    .left-image img {
        height: 300px;
        width: 300px;
    }

    .heading-section h1 {
        font-size: 30px;
    }

    .product-categories li {
        font-size: 14px;
    }

    .container-block1 {
        display: block;
        height: max-content;
    }

    .certified {
        margin: 0;
        padding: 20px 0;
        justify-content: space-evenly;
    }

    .satisfied img {
        height: 40px;
        width: 40px;
    }

    .satisfied h3 {
        font-size: 16px;
        padding-left: 15px;
        font-weight: 600;
        color: #fff;
        line-height: 1;
    }

    .satisfied h3 span {
        font-size: 10px;
        font-family: serif;
        font-weight: 600;
        color: #fff;
    }

    .testimonial-container h3 {
        font-size: 25px;

    }

    .download-app-container {
        width: 100%;
        height: 100%;
        margin: auto;
        padding: 0;
        justify-content: center;

    }

    .mobile-image {
        display: none;
    }

    .app-container {
        width: 100%;
        height: 100%;
        margin: 0;
        justify-content: center;
        padding: 100px 20px;
    }

    .download-card {
        display: block;
        margin: 0;
        padding: 0;
        gap: 50px;

    }

    .download-card h3 {
        font-size: 30px;
        padding-bottom: 20px;

    }

    .download-card p {
        font-size: 16px;
        font-weight: 500;
        padding-bottom: 25px;
    }

    .download-box {
        padding-top: 30px;
    }

    .download-info {
        padding: 5px 10px;
    }

    .download-info img {
        width: 20px;
        height: 20px;
    }

    .download-details h4 {
        font-size: 8px;
        font-weight: 500;
    }

    .download-details h1 {
        font-size: 14px;
    }

    .news-block h2 {
        padding-top: 30px;
    }

    .brands-logo {
        display: none;
    }

    .row {
        display: block;
    }



}

@media (max-width: 425px) {

    html,
    body {
        overflow-x: hidden;
    }

    .hamburger {
        display: block;
    }

    .delivery {
        display: none;
    }

    .search-box {
        display: none;
    }

    .top-navbar {
        width: 100%;
        justify-content: space-between;
        padding: 10px;
        margin: 0;
    }





    .right-section.active {
        display: block;
        padding: 0;
        align-items: center;
        justify-content: center;
        width: 85%;
        height: 10%;
        margin: 0 auto;
        position: absolute;
        top: 10px;

    }

    .icon-btn .fa-regular {
        display: none;
        margin: 0px;
        padding-top: 20px;
    }

    .icon-btn .fa-solid {
        padding-top: 20px;
    }

    .badge {
        position: absolute;
        top: 13px;
        left: 140px;
        width: 15px;
        height: 15px;
        font-size: 10px;
        font-weight: 500;
    }

    .cart {
        display: block;
    }

    .cart-info h3 {
        font-size: 15px;
        font-weight: 500;
        padding-top: 20px;
        padding-bottom: 5px;
    }

    .cart-info p {
        color: #ff9800;
        font-weight: 600;
        font-size: 10px;
    }

    .cart i {
        display: none;
    }

    .user {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        gap: 5px;
        padding: 10px 0;
        margin: 0 auto;
    }

    .user img {
        height: 30px;
        width: 30px;
        align-items: center;
        margin: auto;
    }

    .user-name {
        font-size: 12px;
        font-weight: 600;
    }

    .user i {
        display: none;
    }

    /* Bottom Navbar */

    .bottom-navbar {
        display: none;
    }

    .main-content {
        display: flex;
        flex-direction: column-reverse;
    }

    .main-image {
        padding: 0%;
    }

    .main-text {
        display: block;

        width: 100%;
        padding: 10px;
        margin: 0;
    }

    .main-text h3 {
        margin-right: 30%;
        font-size: 22px;
    }

    .main-text h1 {
        font-size: 32px;
        padding-top: 10px;
        word-spacing: 2px;
        padding-bottom: 30px;
    }


    .container {
        width: 100%;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: space-between;
        height: fit-content;
        flex-direction: row;
        overflow: scroll;
    }

    .item-box {
        height: 50%;
        width: 100%;

    }

    .item-box img {
        width: 60px;
        height: 60px;
        margin: 0;
        padding: 0;

    }

    .item-box p {
        margin: 0;
        font-size: 10px;
        line-height: 1.3;
        color: #555;
        font-weight: 750;
    }

    .header-row {
        margin: auto;
        padding: 0;
        justify-content: space-between;
    }

    .sub-title {
        font-size: 18px;
    }

    .main-title {
        font-size: 15px;
    }

    .see-all-btn {
        padding: 5px 10px;
        margin: 0px;

    }

    .arrow {
        width: 14px;
        height: 15px;
        font-size: 12px;
        font-weight: 800;
    }

    .offer-container {
        display: block;
        margin: auto;
        padding: 0;
        width: 100%;
        height: 100%;

    }

    .offers {
        display: flex;
        justify-content: flex-start;
        flex-direction: row-reverse;
        width: 85%;
        margin: auto;
        margin-bottom: 30px;
        height: 100%;
    }

    .lft {
        margin: 0;
        padding: 0;

    }

    .lft h3 {
        margin: 10px 0 5px;
        color: #fff;
        font-size: 15px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-weight: 800;
    }

    .lft h1 {
        font-size: 18px;
    }

    .btn {

        font-size: 10px;
        font-weight: 400;
        text-align: center;

        width: 50%;
        padding: 10px 0px;
        margin-bottom: 5px;

    }

    .rgt {
        margin: auto;
        padding: 0;
        width: 40%;
    }

    .rgt img {
        margin-left: 5px;
        padding: 0;
        height: 130px;
        width: 120px;

    }

    .heading {
        padding: 10px;
    }

    .heading h1 {
        font-size: 18px;
    }

    .card-section {
        display: block;

    }

    .card-block {
        margin: auto;
        display: block;
        margin-bottom: 20px;
    }

    .block1 {
        margin-bottom: 20px;
    }

    .block1 img {
        height: 15px;
        width: 30px;
    }

    .block1 i {
        font-size: 20px;
        padding-right: 20px;
    }

    .block2 {
        flex-direction: row;
        margin-bottom: 20px;
    }

    .block2 img {
        height: 100px;
        width: 100px;

    }

    .block3 {
        justify-content: space-between;
        padding: 0 20px;
    }

    .textsize h3 {
        padding: 0;
        font-size: 12px;
    }

    .textsize h1 {
        padding: 0;
        font-size: 18px;
    }

    .textsize p {
        padding: 0;
        font-size: 16px;
    }

    .quantity-control {}

    .addtocart {
        padding: 10px;

    }

    .addtocart i {
        font-size: 15px;
    }

    .about-us-section {
        display: block;

    }

    .left-image {
        display: none;
    }

    .rightside-about-us h4 {
        font-style: oblique;
    }

    .rightside-about-us h1 {
        font-size: 22px;
    }

    .rightside-about-us p {
        padding: 10px;
        margin: 0;
    }

    .rightside-about-us button {
        justify-content: space-between;
        width: 100px;
        font-size: 10px;
        margin-top: 10px;
        padding: 0 0 0 10px;
    }

    .rightside-about-us button i {
        font-size: 15px;
        width: 50px;
        height: 35px;
    }

    .product-cards {

        display: block;
    }

    .heading-section {
        padding: 10px;
        margin: auto;

    }

    .heading-section h1 {
        font-size: 22px;
    }

    .product-categories {
        gap: 12px;
    }

    .product-categories li {
        font-size: 15px;
    }

    .product-categories li.active,
    .product-categories li:hover {
        padding: 5px 15px;
    }

    .certified {
        flex-wrap: wrap;
        margin: auto;

    }

    .satisfied {
        flex-basis: 180px;
        margin: auto;
        margin-bottom: 10px;
        margin-right: 10px;
    }

    .testimonial-container h3 {
        font-size: 22px;
    }

    .card {
        width: 300px;
        height: 350px;
        padding: 20px;

    }

    .testimonial-text {
        font-size: 12px;
    }

    .user-details h4 {
        font-size: 15px;
    }

    .user-details p {
        font-size: 12px;
    }

    .mobile-image {
        display: none;
    }

    .download-app-container {
        padding: 0;
    }

    .app-container {
        margin: 0;
        padding: 50px 20px;
        display: block;
    }

    .download-card {
        margin: 0;
        height: 80%;
        width: 80%;
    }

    .download-card h3 {
        font-size: 25px;
        line-height: 1;
        padding-bottom: 10px;
    }

    .download-card p {
        padding: 10px 0px;

    }

    .news-block h2 {
        font-size: 25px;
    }

    .brands-logo {
        display: none;
    }

    footer {
        display: block;
        padding: 0;

    }

    .footer-main {
        border-radius: 0;
        padding: 20px 0;
        margin: auto;
    }

    .row {
        width: 50%;
        margin: auto;
        text-align-last:center;
    }

    .col {
        margin: auto;
    }

    .logo-section {
        display: flex;
        justify-content: start;
        align-items: center;

    }

    .logo-section img {
        height: 50px;
        width: 50px;
    }

    .logo-section h2 {
        font-size: 18px;
      line-height: 1.1;

    }

    .logo-section h3 {
        font-size: 15px;
        letter-spacing: 0;
        margin: 0;
    }
    
 .col p {
   font-size: 15px;
   line-height: 20px;

 }
  ul li {
    margin: auto;
  }
  .col h3 {
   width:auto;
   margin-bottom: 15px;
   position: relative;
   font-size: 22px;
 }
 .social-icons{
    display: none;
 }
 
 .form-email{
border-bottom: 2px solid gray;
 justify-content:space-evenly
 }
 form input {
   width: 90%;
 }
  .copyrights {
    display: block;
    padding: 0;
  }
 .copyrights p {
   font-size: 10px;
 }
  .terms-condition{
    display: inline;
  }
   .terms-condition a{
    font-size: 10px;
    color: #34e703;
   }
.payment-card img {
   height: 20px;
   width: 25px;
   align-items: center;
   outline: none;
   padding: 5px;

 }




}